.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.captionNew {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
}

h1 {
  font-size: 700%;
  font-weight: bold;
}

.nav {
  position: absolute;
  left: 10px;
  top: 10px;
}

h1, h2 {
  font-family: "Rock Salt";
  color: yellow;
}

h3 {
  color: yellow;
}

.text-black {
  color: black;
}

.text-yellow {
  color: yellow;
}

p {
  font-size: 20px;
}

.big-square {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  padding: 24px 24px;
}

.small-square {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.red-square {
  width: 52px;
  height: 52px;
  border: none;
  background-color: red;
}

.well {
  margin: 10px 10px;
}

.color-box {
  width: 50px;
  height: 50px;
  border: none;
}

.black-box {
  background-color: black;
}

.white-box {
  background-color: white;
}

.orange-box {
  background-color: #FF8000;
}

.yellow-box {
  background-color: yellow;
}

.bluegreen-box {
  background-color: #0D98BA;
}

.purple-box {
  background-color: #7F00FF;
}

.redorange-box {
  background-color: #FF4500;
}

.cyan-box {
  background-color: #00FFFF;
}

.red-box {
  background-color: #FF0000;
}

.blue-box {
  background-color: #0000FF;
}

.green-box {
  background-color: #00FF00;
}
